<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/estilos.css') }}"
    />
    <title>Lista de Usuários</title>
  </head>
  <body>
    <h2>Listagem de Usuários</h2>

    <!-- {% for usuario in listagem %}
    <br />
    {{usuario}} {% endfor %} -->
    <br />
    <br />
    <table>
      <thead>
        <td>Nome</td>
        <td>Telefone</td>
        <td>Idade</td>
        <td>Cidade</td>
      </thead>
      <tbody>
        {% for usuario in listagem %}
        <tr>
          <td>{{usuario[0]}}</td>
          <td>{{usuario[1]}}</td>
          <td>{{usuario[2]}}</td>
          <td>{{usuario[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
